<a href="https://colab.research.google.com/github/NguyenThien1906/Mini-projects/blob/main/Real%20estate/UK_Property_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem & Assumptions

Firstly, I have literally no experience in the estate field :). So what I am going to do from a given dataset on UK Property Price data on real estate market of England & Wales (https://www.kaggle.com/datasets/lorentzyeung/price-paid-data-202304) is to search for the common price evaluation problems and attempt to solve them using data analysis.

Secondly, from the first glance of the dataset, we shall divide the columns into categories:
- **Transaction_unique_identifier, Date_of_Transfer**: Identification (ID) date of unique transactions.
- **Price**: Simply transaction price, but it is a type of value that is usually our end results that we want to look for. This shall be talked about in dissection of common estate problems.
- The rest: Property information.

## Common problems

### 1. Association rules

# Dataset download

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lorentzyeung/price-paid-data-202304", force_download=True)

print("Path to dataset files:", path)

dataset_dir = "/content/drive/MyDrive/datasets/"

Path to dataset files: /kaggle/input/price-paid-data-202304

In [11]:
!cp -r /kaggle/input/price-paid-data-202304 dataset_dir

# Dataset input

In [109]:
import pandas as pd

fields = [
    "Transaction_unique_identifier", "price", "Date_of_Transfer",
    "postcode", "Property_Type", "Old/New", "Duration",
    "PAON", "SAON", "Street", "Locality", "Town/City",
    "District", "County", "PPDCategory_Type",
    "Record_Status - monthly_file_only"
] # from the original datasets
fields = [field.lower().replace(" ", "").replace("/", "") for field in fields]
data_file = '/content/drive/MyDrive/datasets/price-paid-data-202304/March 2025 data.csv'
df = pd.read_csv(data_file, header=None, names=fields)
df

,transaction_unique_identifier,price,date_of_transfer,postcode,property_type,oldnew,duration,paon,saon,street,locality,towncity,district,county,ppdcategory_type,record_status-monthly_file_only
0,{31C68072-6709-FEE3-E063-4804A8C04F37},350000,2021-03-19 00:00,MK19 6GX,S,Y,F,4,NaN,MANOR CLOSE,DEANSHANGER,MILTON KEYNES,WEST NORTHAMPTONSHIRE,WEST NORTHAMPTONSHIRE,A,A
1,{31C68072-671C-FEE3-E063-4804A8C04F37},302000,2021-09-30 00:00,NN8 6BQ,S,Y,F,70,NaN,BEAUMONT ROAD,NaN,WELLINGBOROUGH,NORTH NORTHAMPTONSHIRE,NORTH NORTHAMPTONSHIRE,A,A
2,{31C68072-6738-FEE3-E063-4804A8C04F37},155000,2021-10-11 00:00,NN2 6DA,F,Y,L,174,FLAT 9,ST ANDREWS ROAD,NaN,NORTHAMPTON,WEST NORTHAMPTONSHIRE,WEST NORTHAMPTONSHIRE,A,A
3,{31C68072-6746-FEE3-E063-4804A8C04F37},275000,2021-03-02 00:00,NN15 7FA,S,Y,F,49,NaN,FOSTER WAY,NaN,KETTERING,NORTH NORTHAMPTONSHIRE,NORTH NORTHAMPTONSHIRE,A,A
4,{31C68072-6CF8-FEE3-E063-4804A8C04F37},147000,2021-12-16 00:00,S80 3BF,T,N,F,34,NaN,HARLEY CLOSE,NaN,WORKSOP,BASSETLAW,NOTTINGHAMSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96665,{2F7F2B43-0E7D-E08F-E063-4804A8C05A49},479000,2025-01-30 00:00,DN39 6TU,D,N,F,WHITE LODGE,NaN,COLLEGE ROAD,NaN,ULCEBY,NORTH LINCOLNSHIRE,NORTH LINCOLNSHIRE,A,D
96666,{2F7F2B43-11DC-E08F-E063-4804A8C05A49},190000,2025-01-31 00:00,DY11 6PR,T,N,F,6,NaN,CLAUGHTON STREET,NaN,KIDDERMINSTER,WYRE FOREST,WORCESTERSHIRE,A,D
96667,{2F7F2B43-15CE-E08F-E063-4804A8C05A49},380000,2025-01-07 00:00,DA12 4AY,S,N,F,48,NaN,ST HILDAS WAY,NaN,GRAVESEND,GRAVESHAM,KENT,B,D
96668,{2F7F2B43-19EA-E08F-E063-4804A8C05A49},188500,2025-02-21 00:00,CT10 2SA,F,N,L,ST STEPHENS,FLAT 9,POPLAR ROAD,NaN,BROADSTAIRS,THANET,KENT,A,D
96669,{2F7F2B43-128C-E08F-E063-4804A8C05A49},380000,2025-02-21 00:00,HR1 1ND,S,N,F,81,NaN,PILLEY ROAD,NaN,HEREFORD,HEREFORDSHIRE,HEREFORDSHIRE,A,D

## Dataset pre-process

In this section, we shall apply pre-processing procedures that might apply to any problem in general.

### Col: transaction_unique_identifier

This column is about transaction identifier, each row has a unique value.

In [110]:
currentCol = "transaction_unique_identifier"
df[currentCol]

0        {31C68072-6709-FEE3-E063-4804A8C04F37}
1        {31C68072-671C-FEE3-E063-4804A8C04F37}
2        {31C68072-6738-FEE3-E063-4804A8C04F37}
3        {31C68072-6746-FEE3-E063-4804A8C04F37}
4        {31C68072-6CF8-FEE3-E063-4804A8C04F37}
                          ...
96665    {2F7F2B43-0E7D-E08F-E063-4804A8C05A49}
96666    {2F7F2B43-11DC-E08F-E063-4804A8C05A49}
96667    {2F7F2B43-15CE-E08F-E063-4804A8C05A49}
96668    {2F7F2B43-19EA-E08F-E063-4804A8C05A49}
96669    {2F7F2B43-128C-E08F-E063-4804A8C05A49}
Name: transaction_unique_identifier, Length: 96670, dtype: object

On more in-depth inspection, although these identifiers are unique, they are sort of formed by concatinating types of identifiers where we have many similar values, so we might have underlying connections in those identifiers.

**We shall conduct splitting the values and examine the possible connections.**

In [111]:
# remove the {}
df[currentCol] = df[currentCol].str.replace(r'^\{(.*)\}$', r'\1', regex=True)

# split '-'
df[['ID' + str(it) for it in range(5)]] = df[currentCol].str.split("-", n=5, expand=True)

# remove original column
df = df.drop(columns=[currentCol])

In [112]:
df[['ID' + str(it) for it in range(5)]]

            ID0   ID1   ID2   ID3           ID4
0      31C68072  6709  FEE3  E063  4804A8C04F37
1      31C68072  671C  FEE3  E063  4804A8C04F37
2      31C68072  6738  FEE3  E063  4804A8C04F37
3      31C68072  6746  FEE3  E063  4804A8C04F37
4      31C68072  6CF8  FEE3  E063  4804A8C04F37
...         ...   ...   ...   ...           ...
96665  2F7F2B43  0E7D  E08F  E063  4804A8C05A49
96666  2F7F2B43  11DC  E08F  E063  4804A8C05A49
96667  2F7F2B43  15CE  E08F  E063  4804A8C05A49
96668  2F7F2B43  19EA  E08F  E063  4804A8C05A49
96669  2F7F2B43  128C  E08F  E063  4804A8C05A49

[96670 rows x 5 columns]

### Col: date_of_transfer

This column is about transaction time & date, which we shall transfer to unix timestamp for easier processing.

In [113]:
df['date_of_transfer'].describe()

count                96670
unique                2619
top       2025-02-28 00:00
freq                  6671
Name: date_of_transfer, dtype: object

In [114]:
import pandas

# convert to unix timestamp in seconds
df['timestamp'] = pandas.to_datetime(df['date_of_transfer']).astype('int64') // 10**9

# drop original column
df = df.drop(columns=['date_of_transfer'])

### Col: postcode

From the original dataset information: "Postcode: The postal code where the property is located.", which is easily reflected by other columns **street, locality, towncity, district, county**.

**However, postcodes are the easiest to translate to geographical longitudes and latitudes, so we shall perform so.**

In [106]:
!wget https://data.freemaptools.com/download/full-uk-postcodes/ukpostcodes.zip
!mv ukpostcodes.zip /content/drive/MyDrive/datasets/
!unzip /content/drive/MyDrive/datasets/ukpostcodes.zip -d $dataset_dir

--2025-05-07 10:26:14--  https://data.freemaptools.com/download/full-uk-postcodes/ukpostcodes.zip
Resolving data.freemaptools.com (data.freemaptools.com)... 208.97.138.150
Connecting to data.freemaptools.com (data.freemaptools.com)|208.97.138.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21259060 (20M) [application/zip]
Saving to: ‘ukpostcodes.zip’

ukpostcodes.zip     100%[===================>]  20.27M  21.6MB/s    in 0.9s

2025-05-07 10:26:16 (21.6 MB/s) - ‘ukpostcodes.zip’ saved [21259060/21259060]

Archive:  /content/drive/MyDrive/datasets/ukpostcodes.zip
  inflating: /content/drive/MyDrive/datasets/ukpostcodes.csv

In [107]:
postcode_data = pandas.read_csv(dataset_dir + 'ukpostcodes.zip')
postcode_data

              id  postcode   latitude  longitude
0              1  AB10 1XG  57.144165  -2.114848
1              2  AB10 6RN  57.137880  -2.121487
2              3  AB10 7JB  57.124274  -2.127190
3              4  AB11 5QN  57.142701  -2.093295
4              5  AB11 6UL  57.137547  -2.112233
...          ...       ...        ...        ...
1804107  2732666   YO8 1FN  53.784954  -1.067704
1804108  2732667   YO8 8SY  53.774346  -1.050201
1804109  2732668   YO8 8SZ  53.756860  -1.049746
1804110  2732669   YO8 8TL  53.747445  -0.985540
1804111  2732670   ZE2 9GN  60.797980  -0.822959

[1804112 rows x 4 columns]

In [108]:
postcode_data = postcode_data[['postcode','latitude','longitude']]

In [122]:
df['postcode'] = df['postcode'].astype(str)
postcode_data['postcode'] = postcode_data['postcode'].astype(str)
df = df.join(postcode_data.set_index('postcode'), on='postcode', how='left').drop(columns=['postcode'])

<ipython-input-122-c57bbe315a5a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postcode_data['postcode'] = postcode_data['postcode'].astype(str)

### Col: paon

In [124]:
df['paon'].describe()

count     96670
unique    13585
top           1
freq       2595
Name: paon, dtype: object

PAON (Primary Addressable Object Name): Typically the house number or name. While house names do not tell anything about price evaluation, house numbers do instead, as "Odd numbers are usually assigned to the left side of the street and even numbers to the right side" [source](
https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.yoursigns.com/history-of-uk-house-names-street-numbers&ved=2ahUKEwi41OT0l5GNAxVAs1YBHavrAN8QFnoECBoQAw&usg=AOvVaw1euWt17-uXVPIUF1GSlSFG).

**We shall classify house numbers to left (odd) or right (even).**

In [131]:
import pandas
df['paon'] = pandas.to_numeric(df['paon'], errors='coerce')\
  .apply(lambda x: 'R' if x % 2 == 0 else 'L')

### Col: saon

In [132]:
df['saon'].describe()

count      14140
unique      2059
top       FLAT 1
freq         664
Name: saon, dtype: object

SAON (Secondary Addressable Object Name): Additional information if the building is divided into flats or sub-buildings. It could be seen that the column is categorical with high frequency for its mode, **so it is best we do nothing for now**.

# Addressing problems